<div>
  <!-- Page Header Start -->
  <div class="container-fluid page-header">
    <h1 class="display-3 text-uppercase text-white mb-3">Contata-nos</h1>
    <div class="d-inline-flex text-white">
      <h6 class="text-uppercase m-0"><a href="">Home</a></h6>
      <h6 class="text-white m-0 px-3">/</h6>
      <h6 class="text-uppercase text-white m-0">Contato</h6>
    </div>
  </div>
  <!-- Page Header Start -->
  <div class="container-fluid py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
      <h1 class="display-5 text-uppercase mb-4">SINTA-SE À <span class="text-primary">VONTADE </span> PARA contacta-nos
      </h1>
    </div>
    <div class="row gx-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0" style="height: 600px;">
        <iframe class="w-100 h-100"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3941.3731856302393!2d13.163396701210276!3d-8.93771652492889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a518ab11a8a036f%3A0x106e6420d4e7dd90!2sCol%C3%A9gio%20A%20Colina%20Do%20Sol%20(Benfica)!5e0!3m2!1spt-BR!2sao!4v1710785474498!5m2!1spt-BR!2sao"
          frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
 
        </div>
      <div class="col-lg-6">
        <div class="contact-form bg-light p-5">
          <div class="row g-3">
            <form>
              <div class="row g-3">
                <div class="col-12 col-sm-6">
                  <input type="text" class="form-control border-0" placeholder="Nome Completo" style="height: 55px;">
                </div>
                <div class="col-12 col-sm-6">
                  <input type="email" class="form-control border-0" placeholder="Endereço de E-mail"
                    style="height: 55px;">
                </div>
                <div class="col-12">
                  <input type="text" class="form-control border-0" placeholder="Assunto" style="height: 55px;">
                </div>

                <div class="col-12">
                  <textarea class="form-control border-0" rows="5" placeholder="Conte-nos sobre o projeto"></textarea>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary w-100 py-3" type="submit">ENVIAR</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact End -->

</div>