<div>
 
 <!-- Swiper -->
 
<section class="slick-slideshow ">   
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./assets/images/slideshow/reparos-residenciais.jpg" class="img-fluid" alt="">

        <div class="slick-bottom" style="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">Reabilitação de casas</h1>

                        <p class="lead text-white mt-lg-3 mb-lg-5">"Se investires em beleza da sua casa, ela permanecerá contigo o resto da vida."</p>

                        <a href="about.html" class="btn custom-btn">Conversa no WhatsApp ?</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      
      <div class="swiper-slide">
        <img src="./assets/images/slideshow/Limpeza.jpg" class="img-fluid" alt="">

        <div class="slick-bottom" style="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">Limpeza</h1>

                        <p class="lead text-white mt-lg-3 mb-lg-5">Temos os melhor serviços de Limpeza com uma equipe preparado para todas as situacões. .</p>
                        <p class="lead text-white mt-lg-3 mb-lg-5"> Um Local limpo é uma máquina de morar.</p>

                        <a href="about.html" class="btn custom-btn">Conversa no WhatsApp ?</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
   
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
  </section>




<section class="testimonial section-padding">
    <div class="container">
      <div class="row">

        <div class="col-lg-9 mx-auto col-11">
          <h2 class="text-center">CONHEÇA MAIS <br> <span>SOBRE</span> NÓS</h2>

          <div class="slick-testimonial">
            <div class="slick-testimonial-caption">
              <p class="lead">
                Acly Augusto é uma empresa de direito Angolano, de comercio e prestação de serviços em diversas arias,
                com capital totalmente Angolano a exercer actividade em varios sector do mercado Angolano.
                <br> Acly Augusto representa um elevado grau de conhecimento e experiência nos processos de prestacoes
                de servicos, de modo a oferecer um serviço de valor
              </p>

            </div>

          </div>
        </div>

      </div>
    </div>
  </section>


<c-servicos class="section-padding"></c-servicos>


<section class="testimonial section-padding ">
    <div class="container">
      <div class="row">

        <div class="col-lg-9 mx-auto col-11">
          <h2 class="text-center">Nossa <span>Equipe</span> </h2>

          <div class="slick-testimonial">
            <div class="slick-testimonial-caption">
              <p class="lead">
                Nossa equipe é formada por profissionais que tem como missão superar as expectativas e satisfação de nossos clientes, buscando entender as necessidades para transformá-las em soluções robustas.

              </p>

            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
 
 
</div>