<div>


  <!-- Page Header Start -->
  <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
      <h1 class="display-4 text-white animated slideInDown mb-4">Nossos Serviços</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb justify-content-center mb-0">
          <li class="breadcrumb-item"><a class="text-white" href="#">Página Inicial</a></li>
          <li class="breadcrumb-item"><a class="text-white" href="#">Páginas</a></li>
          <li class="breadcrumb-item text-primary active" aria-current="page">Nossos Serviços</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->


  <!--servicos -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
            <img class="position-absolute w-100 h-100" src="./assets/img/eletrica.jpg" alt="" style="object-fit: cover;">
            <div class="position-absolute top-0 start-0 bg-white pe-3 pb-3" style="width: 200px; height: 200px;">
              <div class="d-flex flex-column justify-content-center text-center bg-primary h-100 p-3">
                <h1 class="text-white">1</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5" data-wow-delay="0.5s">
          <div class="h-100">
            <div class="border-start border-5 border-primary ps-4 mb-5">
              <h1 class="display-6 mb-0">Instalação eléctrica</h1>
            </div>
            <p>Distribua a eletricidade para todos os cômodos de sua estrutura. solicita uma instalação de qualidade
              para garantir um desempenho adequado da sua rede elétrica e a segurança dos equipamentos e pessoas no
              local.. </p>
            <p class="mb-4">Você sabe quais os cuidados que sua empresa ou apartamento precisa ter com a infraestrutura
              elétrica?</p>
            <div class="border-top mt-4 pt-4">
              <div class="row g-4">
                <div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.1s">
                  <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                  <h6 class="mb-0"> Instalação e manutenção elétrica residencial, comercial e industrial.</h6>
                </div>
                <div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.5s">
                  <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                  <h6 class="mb-0"> Montagem de quadros elétricos e sistemas de proteção.</h6>
                </div>
                <div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.3s">
                  <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                  <h6 class="mb-0"> Análise e correção de sobrecarga ou falhas na rede.</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp pt-5" data-wow-delay="0.1s">
          <div class="border-start border-5 border-primary ps-4 mb-5">
            <h1 class="display-6 mb-0">Desinfestação</h1>
          </div>
          <p class="mb-5">Proteja o seu espaço contra pragas e insetos com soluções eficazes e seguras. Nosso serviço de
            desinfestação é realizado com produtos de alta qualidade e por uma equipe técnica especializada, garantindo
            ambientes limpos, saudáveis e livres de infestações.</p>
          <div class="row gy-5 gx-4">
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
              <div class="d-flex align-items-center mb-3">
                <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                <h6 class="mb-0">Desinfestação preventiva e corretiva.</h6>
              </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
              <div class="d-flex align-items-center mb-3">
                <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                <h6 class="mb-0">Controle de pragas urbanas (baratas, formigas, mosquitos, etc.).</h6>
              </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
              <div class="d-flex align-items-center mb-3">
                <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                <h6 class="mb-0">Produtos seguros e aprovados, respeitando normas ambientais.</h6>
              </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
              <div class="d-flex align-items-center mb-3">
                <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                <h6 class="mb-0">Atendimento para residências, empresas e indústrias.</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
            <img class="position-absolute w-100 h-100" src="./assets/img/desifestacao.jpg" alt=""
              style="object-fit: cover;">
            <div class="position-absolute top-0 start-0 bg-white pe-3 pb-3" style="width: 200px; height: 200px;">
              <div class="d-flex flex-column justify-content-center text-center bg-primary h-100 p-3">
                <h1 class="text-white">2</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
            <img class="position-absolute w-100 h-100" src="./assets/img/jardinagem.jpg" alt=""
              style="object-fit: cover;">
            <div class="position-absolute top-0 start-0 bg-white pe-3 pb-3" style="width: 200px; height: 200px;">
              <div class="d-flex flex-column justify-content-center text-center bg-primary h-100 p-3">
                <h1 class="text-white">3</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5" data-wow-delay="0.5s">
          <div class="h-100">
            <div class="border-start border-5 border-primary ps-4 mb-5">
              <h1 class="display-6 mb-0">Jardinagem</h1>
            </div>
            <p>Transformamos o seu espaço verde em um ambiente agradável, organizado e saudável.</p>
            <p>Nossa equipe é especializada no planejamento, manutenção e cuidado de jardins, utilizando técnicas
              adequadas e materiais de qualidade para garantir beleza e durabilidade. </p>

            <div class="border-top mt-4 pt-4">
              <div class="row g-4">
                <div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.1s">
                  <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                  <h6 class="mb-0"> Criação e manutenção de jardins.</h6>
                </div>
                <div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.5s">
                  <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                  <h6 class="mb-0"> Poda de árvores, plantas e arbustos.</h6>
                </div>
                <div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.3s">
                  <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                  <h6 class="mb-0">Irrigação e cuidados para gramados.</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp pt-5" data-wow-delay="0.1s">
          <div class="border-start border-5 border-primary ps-4 mb-5">
            <h1 class="display-6 mb-0">Pintura</h1>
          </div>
          <p class="mb-5">Dê um novo visual ao seu espaço com nosso serviço de pintura profissional, garantindo
            acabamento perfeito, cores vivas e durabilidade. </p>
          <p>Trabalhamos com materiais de alta qualidade e uma equipe experiente para transformar ambientes
            residenciais, comerciais e industriais.</p>

          <div class="row gy-5 gx-4">
            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.1s">
              <div class="d-flex align-items-center mb-0">
                <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                <h6 class="mb-0">Pintura interna e externa.</h6>
              </div>
            </div>
            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.2s">
              <div class="d-flex align-items-center mb-0">
                <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                <h6 class="mb-0">Alta durabilidade e resistência.</h6>
              </div>
            </div>
            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.3s">
              <div class="d-flex align-items-center mb-0">
                <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                <h6 class="mb-0">Acabamento uniforme e sofisticado.</h6>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
            <img class="position-absolute w-100 h-100" src="./assets/img/pintura.jpg" alt="" style="object-fit: cover;">
            <div class="position-absolute top-0 start-0 bg-white pe-3 pb-3" style="width: 200px; height: 200px;">
              <div class="d-flex flex-column justify-content-center text-center bg-primary h-100 p-3">
                <h1 class="text-white">4</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
            <img class="position-absolute w-100 h-100" src="./assets/img/limpeza.jpg" alt="" style="object-fit: cover;">
            <div class="position-absolute top-0 start-0 bg-white pe-3 pb-3" style="width: 200px; height: 200px;">
              <div class="d-flex flex-column justify-content-center text-center bg-primary h-100 p-3">
                <h1 class="text-white">5</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp  pt-5" data-wow-delay="0.5s">
          <div class="h-100">
            <div class="border-start border-5 border-primary ps-4 mb-5">
              <h1 class="display-6 mb-0">Limpeza Profissional</h1>
            </div>
            <p>Oferecemos soluções completas para manter seu espaço limpo, organizado e higienizado, garantindo
              conforto, bem-estar e segurança para todos. </p>
            <p class="mb-4">Nossa equipe é treinada para realizar serviços com qualidade, eficiência e discrição.</p>
            <div class="border-top mt-4 pt-4">
              <div class="row g-4">
                <div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.1s">
                  <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                  <h6 class="mb-0"> Limpeza residencial, comercial e industrial.</h6>
                </div>
                <div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.5s">
                  <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                  <h6 class="mb-0"> Higienização de superfícies e ambientes.</h6>
                </div>
                <div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.3s">
                  <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                  <h6 class="mb-0">Limpeza pós-obra.</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp  pt-5" data-wow-delay="0.1s">
          <div class="border-start border-5 border-primary ps-4 mb-5">
            <h1 class="display-6 mb-0">Higienização Automotiva</h1>
          </div>
          <p>Cuide do seu veículo com nosso serviço de higienização automotiva profissional, garantindo limpeza
            profunda, proteção e conforto.</p>
          <p class="mb-5"> Trabalhamos com produtos de alta qualidade e técnicas especializadas para deixar o interior e
            exterior do seu carro impecáveis.</p>

          <div class="row gy-5 gx-4">
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
              <div class="d-flex align-items-center mb-0">
                <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                <h6 class="mb-0">Limpeza interna completa (bancos, carpetes, painéis).</h6>
              </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
              <div class="d-flex align-items-center mb-0">
                <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                <h6 class="mb-0"> Proteção das superfícies contra desgaste.</h6>
              </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
              <div class="d-flex align-items-center mb-0">
                <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                <h6 class="mb-0">Eliminação de odores e bactérias.</h6>
              </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
              <div class="d-flex align-items-center mb-0">
                <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                <h6 class="mb-0"> Higienização de ar-condicionado.</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
            <img class="position-absolute w-100 h-100" src="./assets/img/automotiva.jpg" alt="" style="object-fit: cover;">
            <div class="position-absolute top-0 start-0 bg-white pe-3 pb-3" style="width: 200px; height: 200px;">
              <div class="d-flex flex-column justify-content-center text-center bg-primary h-100 p-3">
                <h1 class="text-white">6</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- servicos End -->



  <!-- Appointment Start -->
  <div class="container-fluid appointment my-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-5 col-md-6 wow fadeIn" data-wow-delay="0.3s">
          <div class="border-start border-5 border-primary ps-4 mb-5">
            <h6 class="text-white text-uppercase mb-2">contacte-nos</h6>
            <h1 class="display-6 text-white mb-0">Explore nossos principais contatos</h1>
          </div>
          <p class="text-white mb-0">Para qualquer dúvida ou para saber mais sobre como trabalhar com a
            aclyAugusto, entre em contato com nossa equipe.</p>
        </div>

        <div class="col-lg-7 col-md-6 wow fadeIn" data-wow-delay="0.5s">

          <section class="contact-section">

            <div class="contact-info">
              <p><i class="fa fa-phone-alt me-3"> +244 923 421 313 / +244 923 310 820</i> </p>
              <p><i class="fa fa-envelope me-3"></i>geral@aclyaugusto.com</p>
            </div>

            <a class="whatsapp-button" href="https://wa.me/244900000000" target="_blank">
              💬 Falar no WhatsApp
            </a>

            <div class="social-media">
              <a href="https://facebook.com/suaempresa" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="https://instagram.com/suaempresa" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://linkedin.com/company/suaempresa" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </section>

        </div>
      </div>
    </div>
  </div>
  <!-- Appointment End -->

</div>