<div>
     <!-- Page Header Start -->
     <div class="container-fluid page-header">
      <h1 class="display-3 text-uppercase text-white mb-3">Nossos Serviços</h1>
      <div class="d-inline-flex text-white">
          <h6 class="text-uppercase m-0"><a href="">Home</a></h6>
          <h6 class="text-white m-0 px-3">/</h6>
          <h6 class="text-uppercase text-white m-0">Serviços</h6>
      </div>
  </div>
  <!-- Page Header Start -->
  
  <div class="container-fluid bg-light py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
      <h1 class="display-5 text-uppercase mb-4">O QUE PODEMOS FAZER
        <span class="text-primary">POR</span> VOCÉ
      </h1>
    </div>
    <div class="row g-5">
      <div class="col-lg-4 col-md-6">
        <div class="service-item bg-white d-flex flex-column align-items-center text-center">
          <img class="img-fluid" src="./assets/img/service-1.jpg" alt="">
          <div class="service-icon bg-white">
            <i class="fa fa-3x fa-building text-primary"></i>
          </div>
          <div class="px-4 pb-4">
            <h4 class="text-uppercase mb-3">Construção civil</h4>
            <p>Estamos convictos de que Para edificar uma nova casa é importante pensar antes de mais nas
              características das pessoas que irão habitar o espaço. Estas são as construções que executamos para si.
            </p>
            <a class="btn text-primary" href="">Conversa no WhatsApp ?<i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
          <img class="img-fluid" src="./assets/img/product/reabilitacao.jpg" alt="">
          <div class="service-icon bg-white">
            <i class="fa fa-3x fa-home text-primary"></i>
          </div>
          <div class="px-4 pb-4">
            <h4 class="text-uppercase mb-3">Reabilitação de casas</h4>
            <p>"Se investires em beleza da sua casa, ela permanecerá contigo o resto da vida."
              Todos os projetos são elaborados ao pormenor e acompanhados até ao momento da sua entrega por uma equipa
              qualificada .
            </p>
            <a class="btn text-primary" href="">Conversa no WhatsApp ?<i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
          <img class="img-fluid" src="./assets/img/product/serralheiro.jpg" alt="">
          <div class="service-icon bg-white">
            <i class="fa fa-3x  fa-bolt text-primary"></i>
          </div>
          <div class="px-4 pb-4">
            <h4 class="text-uppercase mb-3">Architecture Design</h4>
            <p>
              Nossa equipe é formada por profissionais que tem como missão superar as expectativas e satisfação de
              nossos clientes, buscando entender as necessidades para transformá-las em soluções robustas.
            </p>
            <a class="btn text-primary" href="">Conversa no WhatsApp ?<i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
          <img class="img-fluid" src="./assets/img/product/jardineiro.jpg" alt="">
          <div class="service-icon bg-white">
            <i class="fa fa-3x fa-tree text-primary"></i>
          </div>
          <div class="px-4 pb-4">
            <h4 class="text-uppercase mb-3">Jardinagem</h4>
            <p>
              Profissional responsável por cuidar de jardins de casas, empresas, parques, condomínios, escolas e etc.
            </p>
            <p>
              <span class="text-primary">O que vamos fazer ? </span>
              <br>
              Cortes de Grama, Montagem de Vasos, Combate a Fungos Pragas e Insetos, Limpeza de Terrenos, Poda de alto
              risco, Paisagismo e Decoração, Plantio e Manutenção de Hortas
            </p>
            <a class="btn text-primary" href="">Conversa no WhatsApp ?<i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
          <img class="img-fluid" src="./assets/img/product/instalação-eletrica.jpg" alt="">
          <div class="service-icon bg-white">
            <i class="fa fa-3x fa-tools text-primary"></i>
          </div>
          <div class="px-4 pb-4">
            <h4 class="text-uppercase mb-3">Instalação eléctrica</h4>
            <p>
              Distribua a eletricidade para todos os cômodos de sua estrutura.

              solicita uma instalação de qualidade para garantir um desempenho adequado da sua rede elétrica e a
              segurança dos equipamentos e pessoas no local..

              Você sabe quais os cuidados que sua empresa ou apartamento precisa ter com a infraestrutura elétrica?
            </p>
            <a class="btn text-primary" href="">Conversa no WhatsApp ?<i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
          <img class="img-fluid" src="./assets/img/product/desinfestacao.png" alt="">
          <div class="service-icon bg-white">
            <i class="fa fa-3x fa-paint-brush text-primary"></i>
          </div>
          <div class="px-4 pb-4">
            <h4 class="text-uppercase mb-3">Desinfestação</h4>
            <p>
              A desinfestação e controlo de pragas de ratos, baratas, insetos ou aves é a nossa especialidade
              Problemas com insetos ? 
              <br>
              a Acly Augusto é especialista em desinfestação.
              <br>
              Conte connosco para se ver livre de insetos rastejantes ou voadores, invertebrados, roedores e aves indesejadas.
            </p>
            <a class="btn text-primary" href="">Conversa no WhatsApp ?<i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div
</div>