<section class="about section-padding">
    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h2 class="mb-5">Conheça <span>Nossos</span> serviços</h2>
            </div>

            <div class="col-lg-2 col-12 mt-auto mb-auto">
                <ul class="nav nav-pills mb-5 mx-auto  align-items-center" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">Serralharia</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-youtube-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-youtube" type="button" role="tab" aria-controls="pills-youtube"
                            aria-selected="true">Desinfestação</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-skill-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-skill" type="button" role="tab" aria-controls="pills-skill"
                            aria-selected="false">Jardinagem</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-2222222-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-2222222" type="button" role="tab" aria-controls="pills-2222222"
                            aria-selected="true">Eléctricidade</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-3333333-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-3333333" type="button" role="tab" aria-controls="pills-3333333"
                            aria-selected="true">Reabilitação de casa</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-4444-tab" data-bs-toggle="pill" data-bs-target="#pills-4444"
                            type="button" role="tab" aria-controls="pills-4444" aria-selected="false">Lavagem de
                            interiores de carro </button>
                    </li>

                </ul>
            </div>

            <div class="col-lg-10 col-12">
                <div class="tab-content mt-2" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">

                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <img src="./assets/images/product/serralheiro.jpg" class="img-fluid" alt="">
                            </div>

                            <div class="col-lg-6 col-12">
                                <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                    <h4 class="mb-3">Prestação <span>de</span> serviços <br> de<span> serralharia</span>
                                    </h4>

                                    <p>
                                        Fabricar peças sob medida para o seu projeto e entregá-las na sua obra, em
                                        qualquer local de Angola
                                    </p>

                                    <p>
                                        Temos a equipe certa para este serviços
                                        <br>
                                        Engenheiros, Arquitetos, Tecnólogos, Técnicos e Administradores.
                                    </p>

                                    <div class="mt-2 mt-lg-auto">
                                        <a href="about.html" class="custom-link mb-2">
                                            Entrar em contacto pelo Whatsap
                                            <i class="bi-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-youtube" role="tabpanel" aria-labelledby="pills-youtube-tab">

                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <img src="./assets/images/product/desinfestacao.png" class="img-fluid" alt="">
                            </div>

                            <div class="col-lg-5 col-12">
                                <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                    <h4 class="mb-3">Desinfestação</h4>

                                    <p>A desinfestação e controlo de pragas de ratos, baratas, insetos ou aves é a nossa
                                        especialidade</p>

                                    <p>Problemas com insetos ? a Acly Augusto é especialista em desinfestação.</p>

                                    <p>Conte connosco para se ver livre de insetos rastejantes ou voadores,
                                        invertebrados, roedores e aves indesejadas.
                                    </p>

                                    <div class="mt-2 mt-lg-auto">
                                        <a href="contact.html" class="custom-link mb-2">
                                            Entrar em contacto pelo Whatsap
                                            <i class="bi-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-skill" role="tabpanel" aria-labelledby="pills-skill-tab">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <img src="./assets/images/product/jardineiro.jpg" class="img-fluid" alt="">
                            </div>

                            <div class="col-lg-6 col-12">
                                <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                    <h4 class="mb-3">Jardinagem </h4>

                                    <p>
                                        profissional responsável por cuidar de jardins de casas, empresas, parques,
                                        condomínios, escolas e etc.
                                    </p>

                                    <div class="skill-thumb mt-3">

                                        <strong> Cortes de Grama</strong>
                                        <span class="float-end">Montagem de Vasos</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" role="progressbar"
                                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                                                style="width: 90%;"></div>
                                        </div>

                                        <strong> Combate a Fungos, Pragas e Insetos</strong>

                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" role="progressbar"
                                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                                style="width: 70%;"></div>
                                        </div>

                                        <strong> Limpeza de Terrenos</strong>
                                        <span class="float-end">Poda de alto risco</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" role="progressbar"
                                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                                style="width: 80%;"></div>
                                        </div>

                                        <strong> Paisagismo e Decoração</strong>

                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" role="progressbar"
                                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                                style="width: 80%;"></div>
                                        </div>

                                        <strong>Plantio e Manutenção de Hortas</strong>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" role="progressbar"
                                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                                style="width: 80%;"></div>
                                        </div>
                                    </div>

                                    <div class="mt-2 mt-lg-auto">
                                        <a href="products.html" class="custom-link mb-2">
                                            Entrar em contacto pelo Whatsap
                                            <i class="bi-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="pills-2222222" role="tabpanel" aria-labelledby="pills-2222222-tab">

                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <img src="./assets/images/product/instalação-eletrica.jpg" class="img-fluid" alt="">
                            </div>

                            <div class="col-lg-6 col-12">
                                <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                    <h4 class="mb-3">Instalação <span>eléctrica</span>
                                    </h4>

                                    <p>Distribua a eletricidade para todos os cômodos de sua estrutura.</p>

                                    <p>solicita uma instalação de qualidade para garantir um desempenho adequado da sua
                                        rede elétrica e a segurança dos equipamentos e pessoas no local..</p>
                                    <p>Você sabe quais os cuidados que sua empresa precisa ter com a infraestrutura
                                        elétrica? <span>Solicita um tecnico</span></p>
                                    <div class="mt-2 mt-lg-auto">
                                        <a href="about.html" class="custom-link mb-2">
                                            Entrar em contacto pelo Whatsap
                                            <i class="bi-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-3333333" role="tabpanel" aria-labelledby="pills-3333333-tab">

                        <div class="row">
                            <div class="col-lg-6 col-12">

                                <img src="./assets/images/product/reabilitacao.jpg" class="img-fluid" alt="">
                            </div>

                            <div class="col-lg-6 col-12">
                                <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                    <h4 class="mb-3">Reabilitação de <span>Casa</span></h4>

                                    <p>
                                        Da um novo visual a sua cassa
                                    </p>

                                    <p>Se recentemente tomou a decisão de investir numa habitação antiga com o intuito
                                        de a reabilitar, fale connosco </p>

                                    <div class="skill-thumb mt-3">

                                        <strong> Pintura</strong>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" role="progressbar"
                                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                                                style="width: 90%;"></div>
                                        </div>

                                        <strong>Mediação imobiliária,</strong>

                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" role="progressbar"
                                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                                style="width: 70%;"></div>
                                        </div>

                                        <strong> Mediação de imoveis</strong>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" role="progressbar"
                                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                                style="width: 80%;"></div>
                                        </div>

                                    </div>

                                    <div class="mt-2 mt-lg-auto">
                                        <a href="contact.html" class="custom-link mb-2">
                                            Entrar em contacto pelo Whatsap
                                            <i class="bi-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-4444" role="tabpanel" aria-labelledby="pills-4444-tab">
                        <div class="row">
                            <div class="col-lg-6 col-12">

                                <img src="./assets/images/product/lavar-o-carro.jpeg" class="img-fluid" alt="">
                            </div>

                            <div class="col-lg-6 col-12">
                                <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                    <h4 class="mb-3">Lavagem <span>e</span> Higienização <span>interna</span> de carro
                                    </h4>

                                    <p>A Lavagem e higienização interna é importante para manter o bom aspecto do
                                        interior do veiculo. Além de eliminar ácaros e fungos causadores das renites
                                        alérgicas. </p>

                                    <p>
                                        A Acly Augusto se preocupa com a limpeza e a higienização interna dos veículos
                                        por isso oferece um serviço diferenciado.
                                        <br>
                                        Nossos técnicos vão até a sua casa conforme a disponibilidade da agenda. Nenhuma
                                        taxa extra será cobrada.
                                        <br>
                                        Conforto e comodidade para os nossos clientes
                                    </p>


                                    <div class="mt-2 mt-lg-auto">
                                        <a href="products.html" class="custom-link mb-2">
                                            Entrar em contacto pelo Whatsap
                                            <i class="bi-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>