<div>

    <section class="">
        <header class=" d-flex justify-content-center align-items-center">
            <div class="container">
                <h2 class="text-center">O QUE PODEMOS FAZER <br> <span>POR</span> VOCÉ</h2>
            </div>
        </header>
    </section>



    <section class="front-product ">
        <div class="container-fluid p-0">
            <div class="row align-items-center inverter">

                <div class="col-lg-5 col-12 slick-jmss order-1" >
                    <img src="./assets/images/product/serralheiro.jpg" class="img-fluid " alt="">
                </div>

                <div class="col-lg-7 col-12 order-0" style="color: white;">
                    <div class="px-5 py-5 py-lg-0">

                        <h2 class="mb-4"><span>Serralharia</span></h2>
                        <p>Prestação <span>de</span> serviços de<span> serralharia</p>
                        <p class="">
                            Nossa equipe é formada por profissionais que tem como missão superar as expectativas e
                            satisfação de nossos clientes, buscando entender as necessidades para transformá-las em
                            soluções robustas.

                        </p>


                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="">
        <div class="container-fluid p-0">
            <div class="row align-items-center">


                <div class="col-lg-7 col-12 " style="color: white;">
                    <div class="px-5 py-5 py-lg-0">

                        <h2 class="mb-4">Desinfestação</h2>

                        <p class="">A desinfestação e controlo de pragas de ratos, baratas, insetos ou aves é a nossa
                            especialidade
                            <br>
                            Problemas com insetos ? a Acly Augusto é especialista em desinfestação.
                        </p>


                        <p>Conte connosco para se ver livre de insetos rastejantes ou voadores,
                            invertebrados, roedores e aves indesejadas.
                        </p>


                    </div>
                </div>

                <div class="col-lg-5 col-12">
                    <img src="./assets/images/product/desinfestacao.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>


    <section class="front-product">
        <div class="container-fluid p-0">
            <div class="row align-items-center">

                <div class="col-lg-5 col-12 order-1">
                    <img src="./assets/images/product/jardineiro.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-7 col-12 order-0" style="color: white;">
                    <div class="px-5 py-5 py-lg-0">

                        <h2 class="mb-4"><span>Jardinagem</span></h2>

                        <p class="">
                            profissional responsável por cuidar de jardins de casas, empresas, parques,
                            condomínios, escolas e etc.
                        </p>

                        <div class="skill-thumb mt-3">

                            <strong> Cortes de Grama, Montagem de Vasos, Montagem de Vasos, Combate a Fungos Pragas e
                                Insetos,
                                Limpeza de Terrenos, Poda de alto risco, Paisagismo e Decoração, Plantio e Manutenção de
                                Hortas
                            </strong>

                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                            </div>


                        </div>



                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="">
        <div class="container-fluid p-0">
            <div class="row align-items-center">


                <div class="col-lg-7 col-12" style="color: white;">
                    <div class="px-5 py-5 py-lg-0">

                        <h2 class="mb-4">Instalação eléctrica</h2>

                        <p>Distribua a eletricidade para todos os cômodos de sua estrutura.</p>

                        <p>solicita uma instalação de qualidade para garantir um desempenho adequado da sua
                            rede elétrica e a segurança dos equipamentos e pessoas no local..</p>
                        <p>Você sabe quais os cuidados que sua empresa precisa ter com a infraestrutura
                            elétrica? <span>Solicita um tecnico</span></p>


                    </div>
                </div>

                <div class="col-lg-5 col-12 ">
                    <img src="./assets/images/product/instalação-eletrica.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>


    <section class="front-product">
        <div class="container-fluid p-0">
            <div class="row align-items-center">

                <div class="col-lg-5 col-12 order-1">
                    <img src="./assets/images/product/reabilitacao.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-7 col-12 order-0" style="color: white;">
                    <div class="px-5 py-5 py-lg-0">

                        <h2 class="mb-4"><span>Reabilitação de Casa</span></h2>


                        <p>
                            Da um novo visual a sua cassa
                        </p>

                        <p>Se recentemente tomou a decisão de investir numa habitação antiga com o intuito
                            de a reabilitar, fale connosco </p>

                        <div class="skill-thumb mt-3">

                            <strong> Pintura, Mediação de imoveis e Mediação imobiliária</strong>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                            </div>



                        </div>




                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="">
        <div class="container-fluid p-0">
            <div class="row align-items-center">


                <div class="col-lg-7 col-12" style="color: white;">
                    <div class="px-5 py-5 py-lg-0">

                        <h2 class="mb-4">Lavagem <span>e</span> Higienização <span>interna</span> de carro</h2>

                        <p>A Lavagem e higienização interna é importante para manter o bom aspecto do
                            interior do veiculo. Além de eliminar ácaros e fungos causadores das renites
                            alérgicas. </p>

                        <p>
                            A Acly Augusto se preocupa com a limpeza e a higienização interna dos veículos
                            por isso oferece um serviço diferenciado.

                        </p>


                    </div>
                </div>

                <div class="col-lg-5 col-12">
                    <img src="./assets/images/product/lavar-o-carro.jpeg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
</div>