<div>

    <!-- Footer Start -->
    <div class="footer container-fluid position-relative bg-dark bg-light-radial text-white-50 py-6 px-5">
        <div class="row g-5">
            <div class="col-lg-6 pe-lg-5">
                <a href="" class="navbar-brand">
                    <strong> <img src="./assets/img/logo.png" class="img-fluid" alt="50" style="height: 50px;"></strong>
                </a>
                <p>
                    Acly Augusto é uma empresa de direito Angolano, de comercio e prestação de serviços em diversas
                    arias, com capital totalmente Angolano a exercer actividade em varios sector do mercado Angolano.
                </p>
                <p><i class="fa fa-map-marker-alt me-2"></i>
                    Luanda, Município de Talatona, Bairro Benfica, Rua Dona Xepa, Casa s/n.º, Junto ao Colégio Colina do
                    Sol.
                </p>
                <p><i class="fa fa-phone-alt me-2"></i>+244 923 421313 / +244 923 310 820</p>
                <p><i class="fa fa-envelope me-2"></i>geral@aclyaugusto.com</p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-0 me-2" href="#"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-0 me-2" href="#"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-0 me-2" href="#"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-0" href="#"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-6 ps-lg-5">
                <div class="row g-5">
                    <div class="col-sm-6">
                        <h4 class="text-white text-uppercase mb-4">Links Rápidos</h4>
                        <div class="d-flex flex-column justify-content-start">
                            <a href="#/" class="text-white-50 mb-2"><i class="fa fa-angle-right me-2"></i>Home</a>
                            <a href="#/sobre" class="text-white-50 mb-2"><i class="fa fa-angle-right me-2"></i>Sobre</a>
                            <a href="#/servicos" class="text-white-50 mb-2"><i
                                    class="fa fa-angle-right me-2"></i>Serviços</a>
                            <a href="#/contato" class="text-white-50 mb-2"><i
                                    class="fa fa-angle-right me-2"></i>Contacto</a>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="text-white text-uppercase mb-4">Links Rápidos</h4>
                        <div class="d-flex flex-column justify-content-start">
                            <a href="#/" class="text-white-50 mb-2"><i class="fa fa-angle-right me-2"></i>Home</a>
                            <a href="#/sobre" class="text-white-50 mb-2"><i class="fa fa-angle-right me-2"></i>Sobre</a>
                            <a href="#/servicos" class="text-white-50 mb-2"><i
                                    class="fa fa-angle-right me-2"></i>Serviços</a>
                            <a href="#/contato" class="text-white-50 mb-2"><i
                                    class="fa fa-angle-right me-2"></i>Contacto</a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark bg-light-radial text-white border-top border-primary px-0">
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="py-4 px-5 text-center text-md-start">
                <p class="mb-0">&copy; <a class="text-primary" href="#">Acly Augustoe</a>.Copyright ©2024  Todos os Direitos Reservados.</p>
            </div>
            <div class="py-4 px-5 bg-primary footer-shape position-relative text-center text-md-end">
                <p class="mb-0">Projetado por <a class="text-dark" href="https://jlsystem.ao/#/">JLSystem</a></p>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


</div>