<div>
  <main>


    <header class="site-header section-padding-img -image">
      <div class="container">
          <div class="row">

              <div class="col-lg-10 col-12 header-info">
                  
              </div>
          </div>
      </div>

   </header>


    <section class="testimonial section-padding">
      <div class="container">
        <div class="row">

          <div class="col-lg-9 mx-auto col-11">
            <h2 class="text-center">CONHEÇA MAIS <br> <span>SOBRE</span> NÓS</h2>

            <div class="slick-testimonial">
              <div class="slick-testimonial-caption">
                <p class="lead">
                  Acly Augusto é uma empresa de direito Angolano, de comercio e prestação de serviços em diversas arias,
                  com capital totalmente Angolano a exercer actividade em varios sector do mercado Angolano.
                  <br> Acly Augusto representa um elevado grau de conhecimento e experiência nos processos de prestacoes
                  de servicos, de modo a oferecer um serviço de valor
                </p>
 
              </div>

            </div>
          </div>

        </div>
      </div>
    </section>

  </main>

  <section class="team section-padding">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 mb-4 col-12">
          <div class="team-thumb d-flex align-items-center">
            <div class="team-info">
              <h5 class="mb-0">Missão</h5>
              <strong class="text-muted">
                Prestar serviços aos nossos clientes (empresa e organizações) com eficiência, responsabilidade e
                integridade garantindo sigilo profissional e satisfazendo as suas mais altas expectativas cumprindo com
                os prazos assumidos e contribuir para o sucesso dos seus negócios tornando-os mais produtivos e
                lucrativos, através do fornecimento de informações e demostrações financeiras relevantes para a tomada
                de decisão racional por parte dos seus gestores.

              </strong>

            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4 col-12">
          <div class="team-thumb d-flex align-items-center">

            <div class="team-info">
              <h5 class="mb-0">Visão</h5>
              <strong class="text-muted">
                Ser a melhor opção de prestador de serviços a nível nacional  focando 
                comércio exterior na chegada ou saída de mercadorias nos Portos, Aeroportos e Fronteiras do país, sempre
                combinando agilidade, flexibilidade, qualidade e a garantia da satisfação de nossos clientes.
              </strong>


            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-lg-0 mb-4 col-12">
          <div class="team-thumb d-flex align-items-center">

            <div class="team-info">
              <h5 class="mb-0">Valores</h5>
              <strong class="text-muted">
                Integridade, responsabilidade, qualidade nos serviços, inovação, ética, transparência, em busca sempre
                da satisfação dos nossos clientes e racionalização dos custos a cada serviço prestado.
               </strong>
 
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
 

</div>