<div>




  <!-- Page Header Start -->
  <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
   <h1 class="display-4 text-white animated slideInDown mb-4">Sobre nós</h1>
<nav aria-label="breadcrumb animated slideInDown">
<ol class="breadcrumb justify-content-center mb-0">
<li class="breadcrumb-item"><a class="text-white" href="#">Página inicial</a></li>
<li class="breadcrumb-item"><a class="text-white" href="#">Páginas</a></li>
<li class="breadcrumb-item text-primary active" aria-current="page">Sobre</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->


  <!-- About Start -->

  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
            <img class="position-absolute w-100 h-100" src="./assets/img/about.jpg" alt="" style="object-fit: cover;">
            <div class="position-absolute top-0 start-0 bg-white pe-3 pb-3" style="width: 200px; height: 200px;">
              <div class="d-flex flex-column justify-content-center text-center bg-primary h-100 p-3">
                <h1 class="text-white">10</h1>
                <h2 class="text-white">Anos</h2>
                <h5 class="text-white mb-0">Experiencia</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="h-100">
            <div class="border-start border-5 border-primary ps-4 mb-5">
              <h6 class="text-body text-uppercase mb-2">Sobre nós</h6>
              <h1 class="display-6 mb-0">Soluções exclusivas para residências e indústrias!</h1>
            </div>
            <p>A Acly Augusto é uma empresa de direito angolano, fundada em 2015, com capital 100% nacional,
              dedicada ao comércio e à prestação de serviços em diversas áreas. Desde a sua criação, a
              empresa tem-se afirmado como uma referência no mercado angolano, atuando em vários setores
              estratégicos com profissionalismo, inovação e compromisso com a qualidade.</p>
            <p> focamos no crescimento sustentável e na satisfação dos clientes, investindo na
              melhoria contínua dos seus serviços com práticas eficientes e adaptadas ao mercado.</p>

            <p class="mb-4">
              Acly Augusto representa um elevado grau de conhecimento e experiência nos processos de prestacoes de
              servicos, de modo a oferecer um serviço de valor
            </p>
            <div class="border-top mt-4 pt-4">
              <div class="row g-4">
                <div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.1s">
                  <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                  <h6 class="mb-0">Pontualidade nos serviços</h6>
                </div>
                <div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.3s">
                  <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                  <h6 class="mb-0">24/7 Horas de serviço</h6>
                </div>
                <div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.5s">
                  <i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
                  <h6 class="mb-0">Profissionais verificados</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->

  <!-- About End -->






  <section class="pt-5 mt-5 mvv">
    <div class="card">
      <i class="fas fa-bullseye"></i>
      <h3>Missão</h3>
      <p>Prestar serviços com eficiência e integridade, garantindo sigilo, cumprimento de prazos e informações
        financeiras confiáveis para apoiar decisões estratégicas.</p>
    </div>
    <div class="card">
      <i class="fas fa-eye"></i>
      <h3>Visão</h3>
      <p>Ser a principal referência nacional em serviços para comércio exterior, garantindo agilidade, qualidade e
        satisfação dos clientes em portos, aeroportos e fronteiras.</p>
    </div>
    <div class="card">
      <i class="fas fa-heart"></i>
      <h3>Valores</h3>
      <ul>
        <li> Integridade, responsabilidade, qualidade</li>
        <li>inovação, ética e transparência</li>
        <li>sempre buscando a satisfação do cliente e a otimização de custos.</li>

      </ul>
    </div>
  </section>







  <!-- About Start -->
  <div class="container-fluid py-6 px-5 pt-5 " >
    <div class="row g-5">
      <div class="col-lg-6 pt-5">
        <h1 class="display-5 text-uppercase mb-4">O que nos torna <span class="text-primary">diferentes?</span></h1>

        <p>
          Na Acly Augusto, acreditamos que o sucesso está nos detalhes. O nosso diferencial é a combinação de
          experiência, inovação e compromisso com a qualidade, garantindo soluções eficientes e adaptadas às
          necessidades de cada cliente.
        </p>

        <div class="row gx-5 py-2">
          <div class="col-sm-12 mb-2">
            <p class=""><i class="fa fa-check text-primary me-3"></i>Atuação Multissetorial – Presença em diversos segmentos estratégicos.
 </p>
            <p class=""><i class="fa fa-check text-primary me-3"></i>Capital 100% Nacional – Valorizamos e investimos no mercado angolano.</p>
            <p class=""><i class="fa fa-check text-primary me-3"></i>Compromisso com a Qualidade – Processos rigorosos para garantir excelência.</p>
            <p class=""><i class="fa fa-check text-primary me-3"></i>Foco no Cliente – Soluções personalizadas que superam expectativas.</p>
            <p class=""><i class="fa fa-check text-primary me-3"></i>Crescimento Sustentável – Práticas que respeitam o futuro.</p>
          </div>

        </div>

      </div>
      <div class="col-lg-6 pb-5" style="height: 600px;">
        <div class="position-relative bg-dark-radial h-100 ms-5">
          <img class="position-absolute w-100 h-100 mt-5 ms-n5" src="./assets/img/about3.jpg"
            style="object-fit: cover;">
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->

</div>